# Download and install MacPorts
---
- stat:
    path: /opt/local/bin/port
  register: throwaway
  when: not macports_force_install

- when: macports_force_install or not (throwaway.stat.executable is defined and throwaway.stat.executable)
  block:
    - set_fact:
        macports_macos_version: "{{ macos_major_minor_version }}"
      when: macos_major_version == "10"

    # Starting with Big Sur, macOS major version numbers get bumped, and MacPorts package files are named with only the major version.
    - set_fact:
        macports_macos_version: "{{ macos_major_version }}"
      when: macos_major_version != "10"

    - set_fact:
        # Marketing version has no spaces in package name, e.g., Big Sur -> BigSur.
        macports_macos_package_name: "MacPorts-{{ macports_version }}-{{ macports_macos_version }}-{{ macos_marketing_version | regex_replace('\\s', '') }}.pkg"

    - name: Download MacPorts
      get_url:
        url: "https://distfiles.macports.org/MacPorts/{{ macports_macos_package_name }}"
        dest: "{{ downloads }}/macports.pkg"
        force: "{{ mactex_force_install }}"
        mode: u=rw

    - name: Install MacPorts
      command: "installer -pkg {{ downloads }}/macports.pkg -target /"
      become: true

    - name: Add MacPorts (bin) to path
      lineinfile:
        line: /opt/local/bin
        path: /etc/paths
        state: present
        insertbefore: /usr/local/bin
      become: true

    - name: Add MacPorts (sbin) to path
      lineinfile:
        line: /opt/local/sbin
        path: /etc/paths
        state: present
        insertbefore: /usr/local/bin
      become: true
