<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
        "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>org.gnu.emacs.daemon</string>

        <key>ProgramArguments</key>
        <array>
            <string>/Applications/Emacs.app/Contents/MacOS/Emacs</string>
            <!-- launchctl unload won't stop a backgrounded daemon, probably because it sends SIGTERM to the parent or
             something like that. Start a foreground daemon instead so that unloading stops the emacs process. -->
            <string>--fg-daemon</string>
        </array>

        <key>EnvironmentVariables</key>
        <dict>
        	<key>PATH</key>
        	<string>{{ emacs_daemon_path }}</string>
        </dict>

        <key>StandardOutPath</key>
        <string>{{ emacs_log_file }}</string>

        <key>StandardErrorPath</key>
        <string>{{ emacs_log_file }}</string>

        <key>RunAtLoad</key>
        <true/>

        <key>KeepAlive</key>
        <true/>
    </dict>
</plist>
